<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img src="https://images.pexels.com/photos/40815/youth-active-jump-happy-40815.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="sunset-beach-people-sunrise">
      </div>
      <div class="col-sm-12 col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis veritatis provident accusantium officia consequuntur tempore iusto voluptatum sunt omnis, possimus cumque assumenda deserunt officiis non a minus unde earum aliquid?
      </div>
    </div>
    </div>