<div class="container">
  <div class="row">
    <div class="col-sm-12 com-md-8 col-md-offset-2 mt-5">
      <div class="image-canv">
          <img src="./assets/sudeshna.jpg" alt="" class="rounded-circle"> 
      </div>
      <h4 class="text-center m-4" >Sudeshna</h4>

      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis nihil, ratione excepturi soluta maxime, voluptatum perferendis illum id tempore sit, quo expedita. Ullam culpa illo quam est, inventore facilis provident!</p>
     
    </div>
  </div>
</div>